interactions:
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="167336196329013188021486927610", oauth_timestamp="1486927610",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="0fngiUDRpkq68hmPX1lyRqZtd",
          oauth_token="461594173-50IBMOTeth0q2dS8UCtVH3zuXP5KPPmKGca25lAz", oauth_signature="F17k5ZGaFEyAMEUhgE5iA9CUWEc%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/friends/list.json?id=bstarling_&cursor=-1
  response:
    body: {string: '{"users":[{"id":47509268,"id_str":"47509268","name":"sarah jeong","screen_name":"sarahjeong","location":"Portland,
        OR","description":"contributing editor @Motherboard. law and technology and
        stuff. sarah@sarahjeong. net | PGP: https:\/\/t.co\/VFHtzPsGIK","url":"https:\/\/t.co\/DtTjRYbVtT","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DtTjRYbVtT","expanded_url":"http:\/\/sarahjeong.net\/about\/","display_url":"sarahjeong.net\/about\/","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/VFHtzPsGIK","expanded_url":"http:\/\/keybase.io\/sarahjeong","display_url":"keybase.io\/sarahjeong","indices":[93,116]}]}},"protected":false,"followers_count":40631,"friends_count":1272,"listed_count":1237,"created_at":"Tue
        Jun 16 01:50:52 +0000 2009","favourites_count":83342,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":94806,"lang":"en","status":{"created_at":"Sun
        Feb 12 09:35:06 +0000 2017","id":830711819891191808,"id_str":"830711819891191808","text":"This
        is such a bad tweet","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/www.twitter.com\" rel=\"nofollow\"\u003eTwitter Engage for
        iPhone\u003c\/a\u003e","in_reply_to_status_id":830558037689511936,"in_reply_to_status_id_str":"830558037689511936","in_reply_to_user_id":47509268,"in_reply_to_user_id_str":"47509268","in_reply_to_screen_name":"sarahjeong","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":57,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/525540657222262784\/9kgKWUOF.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/525540657222262784\/9kgKWUOF.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/794166740896940032\/Mp_clj7u_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/794166740896940032\/Mp_clj7u_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/47509268\/1428289698","profile_link_color":"9266CC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"200709","profile_text_color":"6A4836","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"live_following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false,"translator_type":"regular"},{"id":458796368,"id_str":"458796368","name":"Tor
        Ekeland","screen_name":"TorEkelandPC","location":"Brooklyn","description":"","url":"https:\/\/t.co\/z4uXiipCmz","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/z4uXiipCmz","expanded_url":"http:\/\/torekeland.com","display_url":"torekeland.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":5666,"friends_count":3154,"listed_count":185,"created_at":"Sun
        Jan 08 23:32:53 +0000 2012","fa[...]
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="114640889024808187541486927611", oauth_timestamp="1486927611",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="0fngiUDRpkq68hmPX1lyRqZtd",
          oauth_token="461594173-50IBMOTeth0q2dS8UCtVH3zuXP5KPPmKGca25lAz", oauth_signature="niLhny14yUoTht%2Fn3I6dO9AlyJM%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/friends/list.json?id=bstarling_&cursor=1556634708503002344
[...]
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="168972851168959053531486927611", oauth_timestamp="1486927611",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="0fngiUDRpkq68hmPX1lyRqZtd",
          oauth_token="461594173-50IBMOTeth0q2dS8UCtVH3zuXP5KPPmKGca25lAz", oauth_signature="M6WkTh9ht7nOyId8QPX0O8dBuvU%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/friends/list.json?id=bstarling_&cursor=1554169471273873874
  response:
    body: {string: '{"users":[{"id":480895184,"id_str":"480895184","name":"Christopher
        Estes","screen_name":"chrisjestes","location":"Greensboro, NC","description":"Thinker,
        dreamer, make you a believer.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":144,"friends_count":328,"listed_count":5,"created_at":"Thu
        Feb 02 01:46:31 +0000 2012","favourites_count":422,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":1087,"lang":"en","status":{"created_at":"Sat
        Feb 11 17:56:25 +0000 2017","id":830475591640084480,"id_str":"830475591640084480","text":"RT
        @frankcifaldi: When you accidentally open Internet Explorer https:\/\/t.co\/I3YL65CF8G","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"frankcifaldi","name":"Frank
        Cifaldi","id":24048220,"id_str":"24048220","indices":[3,16]}],"urls":[],"media":[{"id":828733585171554305,"id_str":"828733585171554305","indices":[63,86],"media_url":"http:\/\/pbs.twimg.com\/media\/C4BAzg2WIAEAqkF.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C4BAzg2WIAEAqkF.jpg","url":"https:\/\/t.co\/I3YL65CF8G","display_url":"pic.twitter.com\/I3YL65CF8G","expanded_url":"http:\/\/twitter.com\/frankcifaldi\/status\/828733592943497217\/photo\/1","type":"photo","sizes":{"small":{"w":500,"h":359,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":500,"h":359,"resize":"fit"},"large":{"w":500,"h":359,"resize":"fit"}},"source_status_id":828733592943497217,"source_status_id_str":"828733592943497217","source_user_id":24048220,"source_user_id_str":"24048220"}]},"extended_entities":{"media":[{"id":828733585171554305,"id_str":"828733585171554305","indices":[63,86],"media_url":"http:\/\/pbs.twimg.com\/media\/C4BAzg2WIAEAqkF.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C4BAzg2WIAEAqkF.jpg","url":"https:\/\/t.co\/I3YL65CF8G","display_url":"pic.twitter.com\/I3YL65CF8G","expanded_url":"http:\/\/twitter.com\/frankcifaldi\/status\/828733592943497217\/photo\/1","type":"photo","sizes":{"small":{"w":500,"h":359,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":500,"h":359,"resize":"fit"},"large":{"w":500,"h":359,"resize":"fit"}},"source_status_id":828733592943497217,"source_status_id_str":"828733592943497217","source_user_id":24048220,"source_user_id_str":"24048220"}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Feb 06 22:34:20 +0000 2017","id":828733592943497217,"id_str":"828733592943497217","text":"When
        you accidentally open Internet Explorer https:\/\/t.co\/I3YL65CF8G","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":828733585171554305,"id_str":"828733585171554305","indices":[45,68],"media_url":"http:\/\/pbs.twimg.com\/media\/C4BAzg2WIAEAqkF.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C4BAzg2WIAEAqkF.jp[...]
[...]
