interactions:
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="95353889148808532881486929013", oauth_timestamp="1486929013",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="0fngiUDRpkq68hmPX1lyRqZtd",
          oauth_token="461594173-50IBMOTeth0q2dS8UCtVH3zuXP5KPPmKGca25lAz", oauth_signature="gZ5Nzq1GENP4VeDzOjJWMelAAEI%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&id=bstarling_
  response:
    body: {string: '{"users":[{"id":21621749,"id_str":"21621749","name":"Beef Ent.","screen_name":"BeefEnt","location":"beefentertainment@mail.com","description":"Beef
        Ent. - Rhode Island #1 Independent Music Label. Rhode Island Booking, Promotion,
        We do invest money in talent! Subscribe at youtube!","url":"https:\/\/t.co\/coVBm5rpaw","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/coVBm5rpaw","expanded_url":"https:\/\/www.youtube.com\/watch?v=wrk900PrWvQ&list=PL_fjiSn8KaUopkd6jfoQQuZ-1SPwoef3e","display_url":"youtube.com\/watch?v=wrk900\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":516923,"friends_count":258340,"listed_count":1590,"created_at":"Mon
        Feb 23 01:58:53 +0000 2009","favourites_count":135853,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":167909,"lang":"en","status":{"created_at":"Sun
        Feb 12 19:50:12 +0000 2017","id":830866616858640385,"id_str":"830866616858640385","text":"RT
        @JCMTechnology: The most overlooked security leak is the inside job. How secure
        is your company''s data storage? https:\/\/t.co\/m7XkAvFf6D\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"JCMTechnology","name":"JCM
        Tech Solutions","id":603959920,"id_str":"603959920","indices":[3,17]}],"urls":[{"url":"https:\/\/t.co\/m7XkAvFf6D","expanded_url":"http:\/\/entm.ag\/1OqDF9l","display_url":"entm.ag\/1OqDF9l","indices":[115,138]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Dec 03 18:39:55 +0000 2015","id":672485431204847616,"id_str":"672485431204847616","text":"The
        most overlooked security leak is the inside job. How secure is your company''s
        data storage? https:\/\/t.co\/m7XkAvFf6D via @Entrepreneur","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Entrepreneur","name":"Entrepreneur","id":19407053,"id_str":"19407053","indices":[124,137]}],"urls":[{"url":"https:\/\/t.co\/m7XkAvFf6D","expanded_url":"http:\/\/entm.ag\/1OqDF9l","display_url":"entm.ag\/1OqDF9l","indices":[96,119]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":11,"favorite_count":8,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":11,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/798534422282674176\/PuC_RQKr_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/798534422282674176\/PuC_RQKr_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/21621749\/1479220462","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"live_following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false,"translator_type":"none"},{"id":3195467395,"id_str":"3195467395","name":"Luke
        W.","screen_name":"Luke4OSS","location":"","description":"Director of Engineering
        @dell enhancing @cloudfoundry at @pivotallabs, my tweets are my own. Programming
        in Go|Python|React any given day.","url":"https:\/\/t.co\/nqB6HMv09F","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/nqB6HMv09F","expanded_url":"https:\/\/www.linkedin.com\/in\/lukewoydziak","display_url":"linkedin.com\/in\/lukewoydziak","indices":[[...]
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="113547977830378599941486929013", oauth_timestamp="1486929013",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="0fngiUDRpkq68hmPX1lyRqZtd",
          oauth_token="461594173-50IBMOTeth0q2dS8UCtVH3zuXP5KPPmKGca25lAz", oauth_signature="7kusQrfaAl4pVY3yyeBhCu%2BAMuE%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1551903248518195301&id=bstarling[...]
[...]
