interactions:
- request:
    body: null
    headers:
      Authorization: ['OAuth oauth_nonce="126896988035714536551486908126", oauth_timestamp="1486908126",
          oauth_version="1.0", oauth_signature_method="HMAC-SHA1", oauth_consumer_key="0fngiUDRpkq68hmPX1lyRqZtd",
          oauth_token="461594173-50IBMOTeth0q2dS8UCtVH3zuXP5KPPmKGca25lAz", oauth_signature="o326BZwdPa1b%2FrEWt07plxtpdrE%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/users/show.json?id=bstarling_
  response:
    body: {string: '{"id":461594173,"id_str":"461594173","name":"Benjamin Starling","screen_name":"bstarling_","location":"Chapel
        Hill, NC","profile_location":null,"description":"Work in progress & enjoying
        the journey. Python and open source. Project lead @data4democracy. Distance
        runner. Thankful.","url":"https:\/\/t.co\/5Zal08UT2K","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/5Zal08UT2K","expanded_url":"https:\/\/github.com\/bstarling","display_url":"github.com\/bstarling","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":41,"friends_count":286,"listed_count":1,"created_at":"Wed
        Jan 11 23:54:28 +0000 2012","favourites_count":177,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":216,"lang":"en","status":{"created_at":"Sat
        Feb 11 21:33:57 +0000 2017","id":830530337889468416,"id_str":"830530337889468416","text":"@BecomingDataSci
        agree but minor point it was gitlab not github \ud83d\ude00","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"BecomingDataSci","name":"Data
        Science Renee","id":2343198944,"id_str":"2343198944","indices":[0,16]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":830522393110142977,"in_reply_to_status_id_str":"830522393110142977","in_reply_to_user_id":2343198944,"in_reply_to_user_id_str":"2343198944","in_reply_to_screen_name":"BecomingDataSci","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/809762042571849728\/fffe5XDC_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/809762042571849728\/fffe5XDC_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/461594173\/1468701145","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","suspended":false,"needs_phone_verification":false}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json;charset=utf-8]
      last-modified: ['Sun, 12 Feb 2017 14:02:06 GMT']
      status: [200 OK]
      x-access-level: [read-write]
      x-connection-hash: [41cdd377c3316b576e7dda55b9f18ba3]
      x-rate-limit-limit: ['900']
      x-rate-limit-remaining: ['898']
      x-rate-limit-reset: ['1486908769']
      x-response-time: ['78']
      x-transaction: [00063eba00d9092d]
      x-twitter-response-tags: [BouncerCompliant]
    status: {code: 200, message: OK}
version: 1
